@font-face {
  font-family: "Helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

@font-face {
  font-family: "Microsoft YaHei";
  src: url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.eot");
  src: url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/e63653407669814f5b0eb9bbdc175f77.svg#Microsoft YaHei") format("svg");
}

html,
body,
#root {
  margin: 0px;
  padding: 0px;
}

html {
  display: block;
}

body {
  color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
button,
input,
select,
textarea {
  color: #333;
  font-family: 'Helvetica, Microsoft YaHei';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Helvetica, Microsoft YaHei';
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

a {
  color: #fff;
}

a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  font-family: 'Apple LiGothic Medium';
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  height: 50px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

input {
  color: #000;
}
