/* 走马灯 */
.viewport {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  /* padding: 30px 0; */
  touch-action: manipulation;
}

.flipsnap {
  width: 1000px;
  padding-left: 0px;
  touch-action: manipulation;
}

.flipsnap:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.space_carousel {
  padding: 16px 0;
  overflow: hidden;
  /* touch-action: none; */
  touch-action: manipulation;
}

.carousel {
  /* width: 104px !important; */
  height: 46px;
  object-fit: contain;
  /* margin-right: 4px;
  margin-left: 4px; */
  text-align: center;
  float: left;
  color: #666;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

.carousel_img {
  width: 100%;
  height: 100%;
  line-height: 100%;
  margin: 0;
  /* border-radius: 10px; */
  /* background-color: transparent; */
  /* padding-top: 5.5%;
  padding-bottom: 4%; */
  position: relative;
  /* vertical-align: middle; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background: url('assets/image/border.svg') no-repeat;
  background-size: contain;
  justify-content: space-around;
}

.carousel_img img {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
}

.carousel p {
  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: normal;
  font-size: 0.3rem;
  color: #000000;
  /* margin-left: 0.27083rem; */
  line-height: 1.5;
}

.space_carousel :global .slider-frame {
  transform: translate3d(-20px, 0px, 0px) !important;
  -webkit-transform: translate3d(-20px, 0px, 0px) !important;
  -moz-transform: translate3d(-20px, 0px, 0px) !important;
  -ms-transform: translate3d(-20px, 0px, 0px) !important;
  -o-transform: translate3d(-20px, 0px, 0px) !important;
}

@media (min-device-width:320px) {
  /* .carousel {
    width: 2rem !important;
  } */

  /* .carousel .carousel_img {
    width: 85%;
    margin: auto;
    padding-top: 5.5%;
  } */

  .carousel .carousel_img p {
    margin-left: 30px;
  }
}

@media (min-device-width:375px) {
  .carousel {
    /* width: 2.13rem !important; */
    /* margin-right: 4px;
    margin-left: 4px; */
  }

  /* .carousel:last-child {
    margin-right: 8px;
  }

  .carousel:nth-child(1) {
    margin-left: 8px;
  } */

  /* .carousel .carousel_img {
    width: 88%;
    margin: auto;
  } */

  .nSlider :global .slick-initialized .slick-slide {
    width: 2rem !important;
  }

  .carousel .carousel_img p {
    margin-left: 0.25rem;
  }
}


@media (min-device-width:414px) {

  .slick-initialized .slick-slide {
    display: block;
    width: 2rem !important;
  }

  /* .carousel:last-child {
    margin-right: 8px;
  }

  .carousel:nth-child(1) {
    margin-left: 8px;
  } */

  /* .carousel .carousel_img {
    width: 78%;
    margin: auto;
    padding-top: 5%;
  } */

  .carousel .carousel_img p {
    /* margin-right: 0.17083rem; */
    line-height: 1.5;
  }
}

@media (min-device-width:400px) {
  .carousel {
    /* width: 2.35rem !important; */
  }

  /* .carousel:last-child {
    margin-right: 8px;
  }

  .carousel:nth-child(1) {
    margin-left: 8px;
  }

  .carousel .carousel_img {
    width: 78%;
    margin: auto;
    padding-top: 5%;
  }

  .carousel .carousel_img p {
    margin-right: 0.17083rem;
    line-height: 1.5;
  } */
}
