.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main_top {
  width: 100%;
  margin: auto;
  padding-top: 1.6%;
  padding-bottom: 2.6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #FFFFFF;
  top: 0;
  left: 0;
  z-index: 99;
}

.main_top img {
  width: 187px;
  height: 44px;
  object-fit: contain;
  margin-left: 10px;
}

.main_come_button,
.main_come_button:hover,
.main_come_button:active {
  width: 120px;
  height: 35px;
  background-image: linear-gradient(to right, #fd8383, #72cdff);
  font-family: "MicrosoftYaHei";
  border: 0;
  border-radius: 1.8125rem;
  margin-right: 10px;
  font-size: 0.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  -webkit-border-radius: 1.8125rem;
  -moz-border-radius: 1.8125rem;
  -ms-border-radius: 1.8125rem;
  -o-border-radius: 1.8125rem;
}

.main_content {
  position: fixed;
  top: 60px;
  width: 100%;
}


/* 轮播 */
.swiper {
  padding: 16px 0;
  touch-action: none;
  text-align: center;
}

.swiper_content p {
  font-size: 0.4rem;
  font-family: "ZCOOL KuaiLe";
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #673ab7;
}

.swiper_content h3 {
  position: relative;
  color: #fd8383;
  margin-bottom: 0.25rem;
  background-image: linear-gradient(to top, #fd8383, #72cdff);
  font-family: "ZCOOL KuaiLe";
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main :global .ant-carousel .slick-dots-bottom {
  bottom: 0;
}

.swiper_img {
  width: 60%;
  margin: 5% auto;
  touch-action: none;
  /* touch-action: manipulation; */
}

.swiper_img img {
  width: 100%;
  margin-bottom: 20px;
}

.main :global .ant-carousel .slick-dots li button {
  opacity: 0;
}

.main :global .ant-carousel .slick-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C4C4C4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main :global .ant-carousel .slick-dots li button,
.main :global .ant-carousel .slick-dots li.slick-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EA6A6A;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main :global .slider-decorator-0 {
  display: none;
}

.viewport {
  width: 100%;
  /* max-height: 11rem; */
  overflow: hidden;
  margin: 0 auto;
  /* padding: 30px 0; */
  touch-action: manipulation;
}

.flipsnap {
  width: 750px;
  padding-left: 0px;
  touch-action: manipulation;
}

.flipsnap:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.card_slide {
  touch-action: manipulation;
}

.space_carousel {
  padding: 16px 0;
  overflow: hidden;
  /* touch-action: none; */
  touch-action: manipulation;
}

.mainSwiper {
  margin-top: 52px;
}

.carousel {
  width: 100%;
  max-height: 10rem;
  /* overflow: scroll; */
  text-align: center;
  float: left;
  color: #666;
  box-sizing: border-box;
  touch-action: pan-y;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  width: '100%';
  vertical-align: 'top';
  margin-bottom: 5px;
  touch-action: manipulation;
}

.main :global .swiper-wrapper {
  max-height: 9.3rem;
}

.main :global .ant-carousel .slick-dots {
  margin: 0;
}

@media(min-device-width:320px) {
  .swiper_content h3 {
    font-size: 0.5rem;
  }

  .swiper_content p {
    font-size: 0.35rem;
  }

  .task_list {
    margin-bottom: 0.07rem;
  }
}

@media(min-device-width:375px) {
  .swiper_content h3 {
    font-size: 0.6rem;
  }

  .swiper_content p {
    font-size: 0.4rem;
  }

  .task_list {
    margin-bottom: 0.1rem;
  }
}

@media (min-device-height:568px) {
  .main :global .swiper-wrapper {
    max-height: 8.2rem;
  }
}

@media (min-device-height:667px) {
  .main :global .swiper-wrapper {
    max-height: 10rem;
  }
}

@media (min-device-height:736px) {
  .main :global .swiper-wrapper {
    max-height: 11.3rem;
  }

  .carousel {
    max-height: 11rem;
  }
}


@media (min-device-height:812px) {
  .main :global .swiper-wrapper {
    max-height: 13rem;
  }

  .carousel {
    max-height: 11.5rem;
  }
}

/* @media (min-device-height:750px) {
  .main :global .swiper-wrapper {
    max-height: 640px;
  }

  .carousel {
    max-height: 11rem;
  }
} */

.main :global .slider-list {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

.task_list {
  width: 98%;
  margin: auto;
  position: relative;
  margin-bottom: 0.05rem;
  transition: all 4s ease-in;
}

.task_list img {
  width: 100%;
  border-radius: 8px;
  /*margin-bottom: 2%;
  */
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.task_title {
  width: 80px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  left: 4%;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

/* 弹出框 */
.modal_header {
  width: 93%;
  margin: auto;
}

.modal_header img {
  width: 187px;
  height: 44px;
  object-fit: contain;
  margin-top: 20px;
}

.modal_header p {
  position: absolute;
  right: 8%;
  top: 1%;
  font-size: 17px;
  color: #9C9C9C;
}

.modal_content {
  width: 78%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 55px;
}

.modal_content img {
  width: 92px;
  height: 92px;
  object-fit: contain;
}

.modal_content h2 {
  width: 90%;
  margin: 5% auto;
  font-size: 35px;
  line-height: 33px;
  text-align: center;
  color: #673AB7;
  letter-spacing: 2px;
  font-family: "ZCOOL KuaiLe";
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0.58rem;
}

.modal_content :global .am-button {
  width: 100%;
  height: 40px;
  margin: 9% auto;
  background: #673AB7;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
  font-family: "Microsoft YaHei";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.modal_content :global .am-button span {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

.popup_modal {
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_modal :global .am-modal-transparent {
  width: 300px;
  height: 380px;
}

.popup_modal :global .am-modal-transparent .am-modal-content .am-modal-body,
.popup_modal :global .am-modal-transparent .am-modal-content {
  padding: 0;
  background: transparent;
}

.popup_modal :global .am-modal-transparent .am-modal-content .am-modal-body {
  min-height: 380px;
}

.popup_modal :global .am-modal-transparent .am-modal-content {
  /* width: 100%;
  height: 100%;
  background: url('../../../assets/image/base.png') no-repeat;
  background-size: 100% 100%; */
  width: 300px;
  height: 380px;
  object-fit: contain;
  opacity: 0.9;
  background: url('../../../assets/image/base.png') no-repeat;
  background-size: 100% 100%;
}

.popup_box {
  width: 100%;
  height: 100%;
}

.mask_white {
  width: 100%;
  height: 321px;
  object-fit: contain;
  background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  position: fixed;
  bottom: 0;
  pointer-events: none;
  z-index: 999;
}

.mainSwiper :global .slick-slide:nth-child(3) img {
  width: 88% !important;
  margin-top: 0 !important;
}

.mainSwiper :global .slick-slide:nth-child(1) img {
  width: 62% !important;
  vertical-align: top;
  margin-top: 1.2rem !important;
}

@media (min-device-width:320px) {
  .popup_modal :global .am-modal-transparent .am-modal-content {
    width: 95%;
    margin: auto;
    height: 94%;
  }

  .modal_content {
    width: 85%;
    margin-top: 35px;
  }

  .modal_content :global .am-button {
    margin-bottom: 15px;
  }
}

@media (min-device-width:375px) {
  .popup_modal :global .am-modal-transparent .am-modal-content {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}

@media (min-device-height:812px) {
  .main_content {
    top: 100px;
  }

  .mainSwiper {
    margin-top: 60px;
  }

}
