.game {
  width: 100%;
  height: 100%;
}

.game_back {
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.main_top {
  width: 93%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.main_top img {
  width: 32px;
}

.main_top p {
  font-family: "ZCOOL KuaiLe";
  font-size: 0.5rem;
  font-weight: normal;
  letter-spacing: 2px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #673ab7;
}

.content {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 60px;
}

.game_status {
  height: 2.5rem;
  background-image: linear-gradient(to bottom, #f6c4f4, #ffefef 90%, rgba(255, 255, 255, 0));
}

.behavior_bar {
  width: 67%;
  position: fixed;
  bottom: 1.41667rem;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

@media (min-device-width:320px) {
  .behavior_bar {
    width: 56%;
  }

  .game_status {
    height: 1.8rem;
  }

  .main_top {
    margin-bottom: 0;
  }

  .content {
    margin-top: 1.9rem;
  }

  .task_list {
    margin-bottom: 0.07rem;
  }
}

@media (min-device-width:375px) {
  .behavior_bar {
    width: 56%;
    bottom: 1.8rem;
  }

  .game_status {
    height: 2.2rem;
  }

  .main_top {
    margin-bottom: 0.08rem;
  }

  .content {
    margin-top: 2.3rem;
  }

  .task_list {
    margin-bottom: 0.1rem;
  }
}

/* 内容 */
.content_task {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.content_task_right,
.content_task_left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task_list img {
  width: 100%;
  margin-bottom: 2%;
}

.task_del {
  animation: hide-item 1s ease-out forwards;
  transition: all 1s ease-out;
}

.task_list {
  width: 98%;
  margin: auto;
  position: relative;
  margin-bottom: 0.05rem;
  transition: all 4s ease-in;
  border-radius: 10%;
  overflow: hidden;
}

.task_title {
  width: 80px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  left: 4%;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

.star_fill {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  left: 0.25rem;
  top: 0.1rem;
  color: #F9BB4B;
  font-size: 0.5rem;
  line-height: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.star_fill_toogle {
  display: none;
}

.loading_down {
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loading_down img {
  width: 0.6rem;
  margin-bottom: 0.16rem;
}

.pages_pinterest {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: auto;
  box-sizing: border-box;
}

.fly_item,
.fly_item>img {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.pullTodown {
  width: 100%;
  height: 1rem;
  text-align: center;
  display: none;
}

.fly_item {
  display: none;
  margin: -25px 0 0 -25px;
  transition-timing-function: linear;
  opacity: 0.5;
  z-index: 999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
}

.fly_item>img {
  transition-timing-function: cubic-bezier(.55, 0, .85, .36);
  outline: 0px solid rgb(221, 46, 59);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
