.t_npxweb {
  width: 100%;
  height: 100%;
  min-width: 1280px;
}

.t_npxweb header {
  width: 100%;
  /* height: 60px; */
  background: #fff;
}

.t_npxheader {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1px 0;
}

.t_npxheader .top_left {
  width: 187px;
  height: 44px;
  display: flex;
  align-items: center;
}

.t_npxheader .top_left img {
  width: 73%;
}

.t_npxheader .top_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.t_npxheader .top_right p {
  font-family: "PingFang HK";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;

}

.t_npxheader .top_right .active {
  font-weight: 600 !important;
}

.t_npxheader p {
  width: 100px;
  font-family: "PingFang HK";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}


.t_npxmain1 {
  width: 100%;
  height: 398px;
  object-fit: contain;
  background-color: #fdf5ff;
  background: url(../../assets/web/hero-image_bk.png) no-repeat;
  background-size: 100% 100%;
}

.t_npxmain2 .content,
.t_npxmain1 .content {
  width: 77%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.t_npxmain1 .content .img {
  width: 442px;
  position: absolute;
  top: 0;
  left: 0;
}

.t_npxmain1 .content .img img {
  width: 100%;
}

.t_npxmain1 .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 156px;
  margin-right: 120px;
}

.t_npxmain1 .content .title .imga {
  width: 302px;
  height: 20px;
  margin: 16px 17px 9px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.t_npxmain1 .content .title h1 {
  /* width: 336px; */
  height: 69px;
  font-family: "PingFang HK";
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.t_npxmain1 .content .title h5 {
  width: 180px;
  height: 28px;
  font-family: "PingFang HK";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.t_npxmain2 {
  width: 100%;
  height: 398px;
  object-fit: contain;
  background-color: #fdf5ff;
  background: url(../../assets/web/Rectangle\ 2.png) no-repeat;
  background-size: 100% 100%;
}

.t_npxmain2 .content {
  width: 90%;
  justify-content: center;
}


.t_npxmain2 .content .img {
  width: 388px;
  position: absolute;
  top: 153px;
  left: 0;
  z-index: 9;
}

.t_npxmain2 .content .imga {
  width: 435.1px;
  position: absolute;
  top: 263px;
  right: 0;
  z-index: 9;
}

.t_npxmain2 .content .imga img,
.t_npxmain2 .content .img img {
  width: 100%;
}

.t_npxmain2 .title {
  margin-top: 100px;
}

.t_npxmain2 .content p {
  font-family: "PingFang HK";
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}

.t_npxmain2 .content h6 {
  font-family: "PingFang HK";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}

.t_npxmain2 .content a p {
  width: 240px;
  height: 40px;
  border-radius: 30px;
  background-color: #673ab7;
  font-family: "PingFang HK";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: auto;
}


.t_npxmain3 {
  width: 100%;
  height: 598px;
  object-fit: contain;
  background-color: #fff;
  position: relative;
}

.t_npxmain3 .content {
  width: 60%;
  margin: auto;
  justify-content: center;
  display: flex;
}


.t_npxmain3 .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 147px;
}

.t_npxmain3 .content .title .imga {
  width: 302px;
  height: 20px;
  margin: 0px 17px 9px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.t_npxmain3 .content .title h1 {
  /* width: 336px; */
  height: 69px;
  font-family: "PingFang HK";
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.t_npxmain3 .content .title h5 {
  /* width: 180px; */
  height: 28px;
  font-family: "PingFang HK";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.t_npxmain3 .trophy {
  position: absolute;
  top: -28px;
}

.t_npxmain3 .frame {
  width: 97%;
  margin: auto;
  margin-top: -151px;

}

.t_npxmain3 .frame img {
  width: 100%;
}


.t_npxmain4 {
  width: 100%;
  height: 512px;
  object-fit: contain;
  background-color: #fdf5ff;
  background: url(../../assets/web/Rectangle\ 47.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 40px;
}

.t_npxmain4 .line {
  width: 60%;
  margin: auto;
  height: 8px;
  background-color: #e6d7f8;
  position: absolute;
  top: 55px;
  left: 20%;
}

.t_npxmain4 .content {
  width: 87%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.t_npxmain4 .content .left,
.t_npxmain4 .content .cont,
.t_npxmain4 .content .right {
  flex: 1;
}

.t_npxmain4 .content .left h4 {
  width: 58%;
  margin: auto;
}

.t_npxmain4 .content .left p {
  text-align: center;
  margin-left: -24px;
}

.t_npxmain4 .content .cont h4 {
  width: 34%;
  margin: auto;
}

.t_npxmain4 .content .cont p {
  text-align: center;
  margin-left: 18px;
}


.t_npxmain4 .content .right h4 {
  width: 29%;
  margin: auto;
}

.t_npxmain4 .content .right p {
  text-align: center;
  margin-left: -24px;
}



.t_npxmain4 .content h4 {
  font-family: "PingFang HK";
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
  margin-bottom: 5px;
}

.t_npxmain4 .content h5 {
  width: 40px;
  height: 40px;
  background: #673ab7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-family: "PingFang HK";
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 25px;
  z-index: 9;
  position: relative;
}

.t_npxmain4 .content p {
  font-family: "PingFang HK";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
  margin-bottom: 5px;
}

.t_npxmain4 .content img {
  width: 100%;
}

.t_npxmain4 .content .left .imga {
  width: 288px;
  height: 288px;
  position: absolute;
  bottom: -18px;
  z-index: 9;
}

.t_npxmain4 .content .cont .imga {
  width: 288px;
  height: 64px;
  margin: auto;
  margin-top: 100px;
  object-fit: contain;
}


.t_npxmain4 .content .right .imga {
  width: 138px;
  height: 78.4px;
  margin: auto;
  margin-top: 100px;
  object-fit: contain;
}


.t_npxweb footer {
  width: 100%;
  height: 57px;
  background-color: #673ab7;
  position: relative;
}

.t_npxweb footer .content {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t_npxweb footer .content p {
  font-family: "PingFang HK";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.t_npxweb footer .left {
  position: absolute;
  left: 1%;
  top: 37%;
  font-family: "PingFang HK";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.t_npxweb footer .left a,
.t_npxweb footer .left a:hover {
  margin-left: 5px;
  color: #ffffff;
}


.t_npxmain5 {
  width: 100%;
  margin: auto;
  height: 180px;
  padding: 31px 168px 23px 164px;
  opacity: 0.9;
  background-color: #e8e8ff;
  position: absolute;
  top: 46px;
  z-index: 99;
}

.t_npxmain5 p {
  font-family: "PingFang HK";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}


.t_npxmain5 .close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
