.web {
  width: 100%;
  height: 100%;
}

.web header {
  width: 100%;
  /* height: 60px; */
  background: #fff;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1px 0;
  margin-bottom: 0.15rem;
}

.header .top_left {
  width: 4.11667rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .top_left img {
  width: 73%;
}

.header .top_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .top_right p {
  font-family: "PingFang HK";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;

}

.header .top_right .active {
  font-weight: 600 !important;
}

.header p {
  width: 100px;
  font-family: "PingFang HK";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}


.main1 {
  width: 100%;
  height: 7.4rem;
  object-fit: contain;
  background-color: #fdf5ff;
  /* background: url(../../assets/web/hero-image_bk.png) no-repeat; */
  background: url(https://i.loli.net/2020/12/14/bJOSzFpKVdr9TUa.png) no-repeat;
  background-size: 100% 100%;
}

.main2 .content,
.main1 .content {
  width: 77%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.main1 .content .img {
  width: 6.36667rem;
  position: absolute;
  top: 1.7rem;
  left: 0;
}

.main1 .content .img img {
  width: 100%;
}

.main1 .content .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
}

.main1 .content .title .imga {
  width: 5rem;
  margin: 16px 17px 9px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.main1 .content .title .imga img {
  width: 100%;
}

.main1 .content .title h1 {
  /* width: 336px; */
  /* height: 69px; */
  width: 4rem;
  height: 0.7rem;
  font-family: "PingFang HK";
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.main1 .content .title h5 {
  font-family: "PingFang HK";
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #673ab7;
}

.main2 {
  width: 100%;
  height: 5.8rem;
  object-fit: contain;
  background-color: #fdf5ff;
  /* background: url(../../assets/web/Rectangle\ 2.png) no-repeat; */
  background: url(https://i.loli.net/2020/12/14/NUrBJbWv72iExdD.png) no-repeat;

  background-size: 100% 100%;
}

.main2 .content {
  width: 90%;
  justify-content: center;
}


.main2 .content .img {
  width: 4.46667rem;
  position: absolute;
  top: 2.4rem;
  left: -2.9rem;
  z-index: 9;
}

.main2 .content .imga {
  width: 2.46667rem;
  position: absolute;
  top: 3.85rem;
  right: -0.4rem;
  z-index: 9;
}

.main2 .content .imga img,
.main2 .content .img img {
  width: 100%;
}

.main2 .title {
  margin-top: 100px;
}

.main2 .content p {
  font-family: "PingFang HK";
  font-size: 38px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  /* margin-bottom: 24px; */
}

.main2 .content h6 {
  font-family: "PingFang HK";
  font-size: 0.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.main2 .content a p {
  width: 240px;
  height: 40px;
  border-radius: 30px;
  background-color: #673ab7;
  font-family: "PingFang HK";
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: auto;
}


.main3 {
  width: 100%;
  /* height: 598px; */
  object-fit: contain;
  background-color: #fff;
  position: relative;
}

.main3 .content {
  width: 60%;
  margin: auto;
  justify-content: center;
  display: flex;
}


.main3 .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.7rem;
  z-index: 9;
}

.main3 .content .title .imga {
  width: 5.5rem;
  height: 20px;
  margin: 0px 17px 9px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.main3 .content .title .imga img {
  width: 100%;
}

.main3 .content .title h1 {
  /* height: .6rem; */
  width: 3.4rem;
  height: 1.9rem;
  font-family: "PingFang HK";
  font-size: 0.48rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
  margin-bottom: 0.15rem;
}

.main3 .content .title h5 {
  /* width: 180px; */
  height: 0.46667rem;
  font-family: "PingFang HK";
  font-size: 0.35rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
}

.main3 .trophy {
  position: absolute;
  top: -0.3rem;
}

.main3 .frame {
  width: 97%;
  margin: auto;
  margin-top: -1rem;

}

.main3 .frame img {
  width: 100%;
}


.main4 {
  width: 100%;
  /* height: 512px; */
  object-fit: contain;
  background-color: #fdf5ff;
  /* background: url("https://i.loli.net/2020/12/05/RPhUpI3G8JLlyB7.png") no-repeat; */
  background: url("https://i.loli.net/2020/12/14/wJuGHgcNbedMhRZ.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 40px;
}

.main4 .line {
  width: 0.13333rem;
  margin: auto;
  height: 11rem;
  background-color: #e6d7f8;
  position: absolute;
  left: 13.6%;
  top: 7%;
}

.main4 .content {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main4 .content h4 {
  width: 75%;
  margin: auto;
  font-family: "PingFang HK";
  font-size: 0.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
  margin-bottom: 5px;
  margin-left: 1rem;
}

.main4 .content h5 {
  width: 40px;
  height: 40px;
  background: #673ab7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-family: "PingFang HK";
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 25px;
  z-index: 9;
  position: absolute;
  top: 0.1rem;
}

.main4 .content p {
  width: 75%;
  margin: auto;
  font-family: "PingFang HK";
  font-size: 0.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #673ab7;
  margin-bottom: 5px;
  margin-left: 1rem;
}

.main4 .content img {
  width: 100%;
}

.main4 .content .left .imga {
  width: 234px;
  height: 234px;
  margin: 0.3rem 0;
  margin-bottom: 0.5rem;
}

.main4 .content .cont .imga {
  width: 4.8rem;
  object-fit: contain;
  margin-left: 0.7rem;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}


.main4 .content .right .imga {
  width: 138px;
  height: 78.4px;
  margin: auto;
  object-fit: contain;
  margin-left: 0.7rem;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

.main4 .content .left,
.main4 .content .cont,
.main4 .content .right {
  width: 80%;
  margin: auto;
  position: relative;
}


.web footer {
  width: 100%;
  height: 2.2rem;
  background-color: #673ab7;
  position: relative;
  padding: 0.2rem 0;
}

.web footer .content {
  width: 50%;
  /* height: 100%; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web footer .content a {
  width: 100%;

}

.web footer p {
  width: 100%;
  font-family: "PingFang HK";
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.web footer .left {
  font-family: "PingFang HK";
  font-size: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.3rem;
}

.web footer .left a,
.web footer .left a:hover {
  margin-left: 5px;
  color: #ffffff;
  font-family: "PingFang HK";
  font-size: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
